.toolbar {
  width: 100%;
  
  
  background: #ffffff;
  /* Elevation 4dp */

  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 4px 24px rgba(0, 0, 0, 0.08);
}
body {
  background: #e5ecef;
  font-family: "Roboto";
}
.toolbar1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  margin-left: 2em;
  margin-right: 2em;
}
.profile-btn{
  background-color: #fff !important;
  color: #666666 !important;
  border: none;
}
.profile-btn:active{
  background-color: #fff !important;
  color: #666666 !important;
  border: none;
  outline: none !important;
}
.nav-item{
  font-size: 14px !important;
  margin-right:1em !important;
  padding-top: 4px;
  padding-bottom: 4px;
  
}
.nav-link{
  color: rgba(255, 255, 255, 0.849) !important;
}
.nav-item.active{
  background: #0000002d !important;
  /*border-bottom: 4px solid #A02529;*/
}
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link{
  color: #fff !important;
}
.navbar{
  padding-top:0;
  padding-bottom: 0;
  background: #475465 !important;
  color: #fff !important;
}
.back{
  margin-top:1em;
  margin-bottom:1em;
  margin-left: 1em;
  cursor: pointer;
  width: 20%;
  
}
.payroll-segments{
  display: flex;
  justify-content: center;
  margin-top:1em;
  margin-bottom:1em;
  display: none;

}
.content{
  background-image: url("../../assets/bg-pattern.png");
  background-size: cover;
  height: 80vh;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}
.ipr-card:hover{
  transform: scale(1.095);
  box-shadow: 0px 2px 4px #47546567, 0px 4px 24px #47546567;
  border-width: 1px;
  border-style: solid;
  border-image: linear-gradient(0deg, rgba(0, 143, 105, 0), rgb(197,63,63,1)) 1;
  transition: 0.5s ease-in-out
}
.ipr-card{
  
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 4px 24px rgba(0, 0, 0, 0.08);
  transition: 0.5s ease-in-out
}
.ccr-card:hover{
  transform: scale(1.095);
  box-shadow: 0px 2px 4px #47546567, 0px 4px 24px #47546567;
  border-width: 1px;
  border-style: solid;
  border-image: linear-gradient(0deg, rgba(0, 143, 105, 0), rgb(197,63,63,1)) 1;
  transition: 0.5s ease-in-out
}
.ccr-card{
  
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 4px 24px rgba(0, 0, 0, 0.08);
  transition: 0.5s ease-in-out
}
.pd-card:hover{
  transform: scale(1.095);
  box-shadow: 0px 2px 4px #47546567, 0px 4px 24px #47546567;
  border-width: 1px;
  border-style: solid;
  border-image: linear-gradient(0deg, rgba(0, 143, 105, 0), rgb(197,63,63,1)) 1;
  transition: 0.5s ease-in-out
}
.pd-card{
  
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 4px 24px rgba(0, 0, 0, 0.08);
  transition: 0.5s ease-in-out
}
.validate-btn{
background: #F4F4F4;
border: 0.8px solid #CCCCCC;
border-radius: 1px;
color: #666666;
font-size: 14px;
padding:6px 26px 6px 26px;
}
.submit-btn{
  background: #475465;
  border: 0.8px solid #CCCCCC;
  border-radius: 1px;
  color: #fff;
  font-size: 14px;
  padding:6px 26px 6px 26px;
  margin-top: 6px;
  }

.validate-btn:hover{
  background: #E7E7E7;
border: 0.8px solid #CCCCCC;
border-radius: 1px;
color: #666666;
font-size: 14px;
padding:6px 26px 6px 26px;
}
.toolbar-float-btn{
  display: flex;
  flex-direction: column;
  width: 8%;
  position: absolute;
  z-index: 999;
  right: 0.6em;
  margin-top:6px;
}
.page-title{
  border-width: 2px;
  border-style: solid;
  border-image: linear-gradient(0deg, rgba(0, 143, 105, 0), rgb(197,63,63,1)) 1;
  color: #475465;
  border-radius: 4px 4px 0px 0px;
  width: fit-content;
  padding:5px 10px 5px 10px;
  
}